h1, 
h3 {
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 32px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card {
    border-style: solid;
    border-width: 8px;
    border-radius: 16px;
    border-color: gray;
    background-color: darkblue;
    text-align: center;
    color: orange;
}

.results {
    text-align: center;
    font-size: 24px;
}